---
layout: layouts/base.njk
section: home
---
<div class="intro-box">
  <div class="intro-bar">
    <div class="bar-circle circle-red"></div>
    <div class="bar-circle circle-yellow"></div>
    <div class="bar-circle circle-green"></div>
  </div>
  <div class="intro-content">
    {{ layoutContent | safe }}
  </div>
</div>
